html,
body {
  /*выставляем минимальные значения для тела и всего хтмл*/
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;

}

/*вставляем фоновую картинку и выравниваем ее*/
body {
  background: #000 url('../img/body-bg.jpg') no-repeat center top;
  background-size: 1122px auto;
}

p {
  color:white;
}

/*В hTML в div контейнера еще добавляем специальный класс clearfix, который добавляет нам распорку для внутренних блоков с флоутами (плавающие элементы друг друга видят, а окружающие их блоки флоутов не видят, поэтому):
<div class="container clearfix">*/
.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

/*т.к. контейнер прижался снизу к мэйнхэдеру, то добавляем маргин между мэйнхэдером и мейновским блоком.
Для сеточных блоков вертикальные отступы задавать снизу, т.е. для .main-header margin-bottom: 60px;*/
.main-header {
margin-bottom: 60px;
}

/*Чтобы отцентровать центровщик (класс .container) нужно в стиль его добавить свойство margin: 0 auto; К тому же ставим ему фиксированную ширину, а внутренние блочные элементы контейнера тоже указываем с фиксированной шириной.*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10;

}

/*...а внутренние блочные элементы контейнера тоже указываем с фиксированной шириной.*/
.main-navigation {
  float:left;
  width:780px;
  /*оформление сетки*/
  min-height:70px;
}

/*...а внутренние блочные элементы контейнера тоже указываем с фиксированной шириной.*/
.user-block {
  float: right;
  width: 140px;
  /*оформление сетки*/
  min-height: 70px;
}

/*Для картинок можно и нужно задавать высоту (дублировать в хтмл и стилях, если это сущностный элемент)
зацентровать индексную картинку: выставляем размеры картинки и центруем ее*/
.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  /*задаем отступ снизу, т.е. сеточный блок отталкивает другие сеточные блоки вниз*/
  margin-bottom: 25px;
}

/*чтобы контейнер с фичерс-айтэми не прилипал к нижнему блоку, добавляем отступ снизу*/
.features {
  margin-bottom: 80px;
}
/*блоки "быстро, хорошо, дорого всем выставляем приклейку к левой стороне...*/
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  /*только для оформления сетки*/
  min-height: 175px;
}
/*...а т.к. последний прыгает на следующую строку из-за маржина, то его выставляем нулевым следующим образом*/
.features-item:last-child {
  margin-right: 0;
}

.index-content {
  padding: 50px 80px;
/*бежду дивами зададим расстояние*/
  margin-bottom: 35px;
}

/*т.к. далее в странице "контактная информация" шире 300пкс, то выставим ширину больше - пусть не будет единообразия*/
.index-content-left {
  float: left;
  width: 380px;
  /*только для оформления сетки*/
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  /*только для оформления сетки*/
  min-height: 330px;
}


.main-footer {
  /*для футера как для самого нижнего элемента отступ ставим сверху*/
  margin-top: 65px;
  /*сожмем контейнер с тремя элементами сверху и снизу*/
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contact {
  float: left;
  width: 320px;
  /*только для оформления сетки*/
  margin-right: 60px;
  /*только для оформления сетки*/
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  /*только для оформления сетки*/
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 140px;
  /*только для оформления сетки*/
  min-height: 90px;
}
/**/
